section#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60vw;
	margin: 10vh auto;
}

* {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

form > input {
	width: 300px;
	margin: 10px auto;
	text-align: left;
}

form > button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 325px;
	background-color: #5779a0;
	color: white;
	font-weight: bolder;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 10px auto;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

form > button[disabled] {
	background-color: #6c89ab;
	transition: background-color 0.2s ease;
	cursor: not-allowed;
}

form > button > img {
	margin-right: 0.5em;
}
